agm-map {
  height: 100vh;
}

ng-sidebar {
  background-color: white;
}

ng-sidebar-container {
  height: 100vh;
}

agm-marker{
  min-height: 10px;
  height: 15px;
}

.si-has-border .si-content-wrapper {
    border: 1px solid #bbb;
    width: 450px;
    height: 250px;
}
